In [36]:
import pandas as pd

# Replace 'your_csv_file.xlsx' with the path to your Excel file
excel_file_path = 'D:/Outlet Wise- Python/kalyan/jubilee hills.xlsx'

# Read Excel file into a DataFrame
raw = pd.read_excel(excel_file_path)

# Drop rows where all values are NaN
raw = raw.dropna(how='all')

# Fill NaN values with an empty string
raw = raw.fillna('')

# Identify the column to shift
column_to_shift = 'Taxable Amount'

# Shift values in the specified column up by one cell
raw[column_to_shift] = raw[column_to_shift].shift(-1)

# Drop the last row if it contains NaN values
raw = raw.iloc[:-1]

# Display the modified DataFrame
print(raw)


# Define column names
columns = ['Mobile Number', 'Country Code', 'Name', 'Bill Number', 'Bill Amount',
           'Date', 'Time', 'Dob', 'Email', 'Channel', 'Server', 'Table Counter']

# Create an empty DataFrame with specified columns
df = pd.DataFrame(columns=columns)

# Display the empty DataFrame
print(df)

# Assuming "Voucher" is a column in the 'raw' DataFrame
# Replace 'Voucher' with the actual column name if it's different
raw_voucher_column = raw['Voucher']

# Update "Bill Number" column in 'df' with unique values from "Voucher" column in 'raw'
df['Bill Number'] = raw_voucher_column.unique()



# Display the updated DataFrame
print(df)


# Group by "Bill Number" in raw_df and calculate the sum of "Bill Amount"
bill_amount_sum = raw.groupby('Voucher')['Taxable Amount'].sum()

# Map the sum values to the corresponding "Bill Number" in updated_dummy_df
df['Bill Amount'] = df['Bill Number'].map(bill_amount_sum)

print(df)
# Map "Mobile Number" from raw_df to updated_dummy_df based on "Bill Number"
mobile_number_mapping = raw.groupby('Voucher')['Customer Phone No'].first()
df['Mobile Number'] = df['Bill Number'].map(mobile_number_mapping)

# Map "Date" from raw_df to updated_dummy_df based on "Bill Number"
date_mapping = raw.groupby('Voucher')['Date'].first()
df['Date'] = df['Bill Number'].map(date_mapping)

# Map "Name" from raw_df to updated_dummy_df based on "Bill Number"
name_mapping = raw.groupby('Voucher')['Beautician Name'].first()
df['Server'] = df['Bill Number'].map(name_mapping)

# Convert "Date" column to "YYYY-MM-DD" format
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%Y-%m-%d')


# Map "Name" from raw_df to updated_dummy_df based on "Bill Number"
name_mapping = raw.groupby('Voucher')['Customer Name'].first()
df['Name'] = df['Bill Number'].map(name_mapping)


# Fill "Country Code" column with "91" only when "Mobile Number" is not blank
df.loc[df['Mobile Number'].notnull(), 'Country Code'] = '91'
        
# Fill "Country Code" column with "91" only when "Mobile Number" is not blank
df.loc[df['Bill Number'].notnull(), 'Time'] = '11:00:00'
print(df)



# Replace empty strings in "Bill Number" with NaN
df['Bill Number'] = df['Bill Number'].replace('', pd.NA)

# Remove rows where "Bill Number" is NaN
df = df.dropna(subset=['Bill Number'])
print(df)

# Save the modified DataFrame to a CSV file
df.to_csv('D:/_file.csv', index=False)

            Date        Voucher Location   Customer Name Customer Phone No  \
0     12-25-2023  Gs3:JHG-17492  J HILLS             sri        7799673333
1
2     12-25-2023  Gs3:JHG-17492  J HILLS
3
4     12-25-2023  Gs3:JHG-17493  J HILLS  sandeep samuel        9885099694
...          ...            ...      ...             ...               ...
3326  12-31-2023  Gs3:JHG-18147  J HILLS
3327
3328  12-31-2023  Gs3:JHG-18148  J HILLS    Nabha Natesh        7893282171
3329
3330  12-31-2023  Gs3:JHG-18149  J HILLS           Radha        9959711176

        Beautician Name                              Product Quantity  \
0           VEERESHAM M                           BEARD TRIM      1.0
1
2           VEERESHAM M                     HAIR CUT FOR MEN      1.0
3
4     Pavan Raj (JHILS)                             HAIR GEL      1.0
...                 ...                                  ...      ...
3326  NARENDER ALAKANTI         ROOT TOUCH UP (INOA) - WOMEN      1.0
3327
3328   Pramanjali Malik                 THREADING - EYEBROWS      1.0
3329
3330    Sudhansu Mallik  BLACK RICE & ORANGE RITUAL PEDICURE      1.0

     Taxable Amount
0             250.0
1
2             495.0
3
4             200.0
...             ...
3326         1250.0
3327
3328          182.0
3329
3330         1100.0

[3331 rows x 9 columns]
Empty DataFrame
Columns: [Mobile Number, Country Code, Name, Bill Number, Bill Amount, Date, Time, Dob, Email, Channel, Server, Table Counter]
Index: []
    Mobile Number Country Code Name    Bill Number Bill Amount Date Time  Dob  \
0             NaN          NaN  NaN  Gs3:JHG-17492         NaN  NaN  NaN  NaN
1             NaN          NaN  NaN                        NaN  NaN  NaN  NaN
2             NaN          NaN  NaN  Gs3:JHG-17493         NaN  NaN  NaN  NaN
3             NaN          NaN  NaN  Gs3:JHG-17494         NaN  NaN  NaN  NaN
4             NaN          NaN  NaN  Gs3:JHG-17495         NaN  NaN  NaN  NaN
..            ...          ...  ...            ...         ...  ...  ...  ...
654           NaN          NaN  NaN  Gs3:JHG-18145         NaN  NaN  NaN  NaN
655           NaN          NaN  NaN  Gs3:JHG-18146         NaN  NaN  NaN  NaN
656           NaN          NaN  NaN  Gs3:JHG-18147         NaN  NaN  NaN  NaN
657           NaN          NaN  NaN  Gs3:JHG-18148         NaN  NaN  NaN  NaN
658           NaN          NaN  NaN  Gs3:JHG-18149         NaN  NaN  NaN  NaN

    Email Channel Server Table Counter
0     NaN     NaN    NaN           NaN
1     NaN     NaN    NaN           NaN
2     NaN     NaN    NaN           NaN
3     NaN     NaN    NaN           NaN
4     NaN     NaN    NaN           NaN
..    ...     ...    ...           ...
654   NaN     NaN    NaN           NaN
655   NaN     NaN    NaN           NaN
656   NaN     NaN    NaN           NaN
657   NaN     NaN    NaN           NaN
658   NaN     NaN    NaN           NaN

[659 rows x 12 columns]
    Mobile Number Country Code Name    Bill Number Bill Amount Date Time  Dob  \
0             NaN          NaN  NaN  Gs3:JHG-17492       745.0  NaN  NaN  NaN
1             NaN          NaN  NaN                             NaN  NaN  NaN
2             NaN          NaN  NaN  Gs3:JHG-17493       200.0  NaN  NaN  NaN
3             NaN          NaN  NaN  Gs3:JHG-17494       300.0  NaN  NaN  NaN
4             NaN          NaN  NaN  Gs3:JHG-17495      1745.0  NaN  NaN  NaN
..            ...          ...  ...            ...         ...  ...  ...  ...
654           NaN          NaN  NaN  Gs3:JHG-18145       250.0  NaN  NaN  NaN
655           NaN          NaN  NaN  Gs3:JHG-18146      2739.0  NaN  NaN  NaN
656           NaN          NaN  NaN  Gs3:JHG-18147      1745.0  NaN  NaN  NaN
657           NaN          NaN  NaN  Gs3:JHG-18148       182.0  NaN  NaN  NaN
658           NaN          NaN  NaN  Gs3:JHG-18149      1100.0  NaN  NaN  NaN

    Email Channel Server Table Counter
0     NaN     NaN    NaN           NaN
1     NaN     NaN    NaN           NaN
2     NaN     NaN    NaN           NaN
3     NaN     NaN    NaN           NaN
4     NaN     NaN    NaN           NaN
..    ...     ...    ...           ...
654   NaN     NaN    NaN           NaN
655   NaN     NaN    NaN           NaN
656   NaN     NaN    NaN           NaN
657   NaN     NaN    NaN           NaN
658   NaN     NaN    NaN           NaN

[659 rows x 12 columns]
    Mobile Number Country Code            Name    Bill Number Bill Amount  \
0      7799673333           91             sri  Gs3:JHG-17492       745.0
1                           91
2      9885099694           91  sandeep samuel  Gs3:JHG-17493       200.0
3      9948278799           91     sanjay jain  Gs3:JHG-17494       300.0
4      9959430033           91        srinivas  Gs3:JHG-17495      1745.0
..            ...          ...             ...            ...         ...
654    9000012716           91      Abrar khan  Gs3:JHG-18145       250.0
655                         91    Renuka Butta  Gs3:JHG-18146      2739.0
656    9849023619           91          Waseem  Gs3:JHG-18147      1745.0
657    7893282171           91    Nabha Natesh  Gs3:JHG-18148       182.0
658    9959711176           91           Radha  Gs3:JHG-18149      1100.0

           Date      Time  Dob Email Channel Server Table Counter
0    2023-12-25  11:00:00  NaN   NaN     NaN    NaN           NaN
1           NaN  11:00:00  NaN   NaN     NaN    NaN           NaN
2    2023-12-25  11:00:00  NaN   NaN     NaN    NaN           NaN
3    2023-12-25  11:00:00  NaN   NaN     NaN    NaN           NaN
4    2023-12-25  11:00:00  NaN   NaN     NaN    NaN           NaN
..          ...       ...  ...   ...     ...    ...           ...
654  2023-12-31  11:00:00  NaN   NaN     NaN    NaN           NaN
655  2023-12-31  11:00:00  NaN   NaN     NaN    NaN           NaN
656  2023-12-31  11:00:00  NaN   NaN     NaN    NaN           NaN
657  2023-12-31  11:00:00  NaN   NaN     NaN    NaN           NaN
658  2023-12-31  11:00:00  NaN   NaN     NaN    NaN           NaN

[659 rows x 12 columns]
    Mobile Number Country Code            Name    Bill Number Bill Amount  \
0      7799673333           91             sri  Gs3:JHG-17492       745.0
2      9885099694           91  sandeep samuel  Gs3:JHG-17493       200.0
3      9948278799           91     sanjay jain  Gs3:JHG-17494       300.0
4      9959430033           91        srinivas  Gs3:JHG-17495      1745.0
5      9866556600           91        Siddrath  Gs3:JHG-17496      1550.0
..            ...          ...             ...            ...         ...
654    9000012716           91      Abrar khan  Gs3:JHG-18145       250.0
655                         91    Renuka Butta  Gs3:JHG-18146      2739.0
656    9849023619           91          Waseem  Gs3:JHG-18147      1745.0
657    7893282171           91    Nabha Natesh  Gs3:JHG-18148       182.0
658    9959711176           91           Radha  Gs3:JHG-18149      1100.0

           Date      Time  Dob Email Channel Server Table Counter
0    2023-12-25  11:00:00  NaN   NaN     NaN    NaN           NaN
2    2023-12-25  11:00:00  NaN   NaN     NaN    NaN           NaN
3    2023-12-25  11:00:00  NaN   NaN     NaN    NaN           NaN
4    2023-12-25  11:00:00  NaN   NaN     NaN    NaN           NaN
5    2023-12-25  11:00:00  NaN   NaN     NaN    NaN           NaN
..          ...       ...  ...   ...     ...    ...           ...
654  2023-12-31  11:00:00  NaN   NaN     NaN    NaN           NaN
655  2023-12-31  11:00:00  NaN   NaN     NaN    NaN           NaN
656  2023-12-31  11:00:00  NaN   NaN     NaN    NaN           NaN
657  2023-12-31  11:00:00  NaN   NaN     NaN    NaN           NaN
658  2023-12-31  11:00:00  NaN   NaN     NaN    NaN           NaN

[658 rows x 12 columns]